*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(135deg, #153677, #4e085f);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.text-container{
  position: relative;
  border: #4e085f 5px solid;
  width: 400px;
}

input{
  width: 100%;
  height: 40px;
}

.task-button{
  width: 100px;
  position: absolute;
  top: -5px;
  right: -26%;
  height: 50px;
  background-color: #4e085f;
  border: none;
}

.text-colomn{
  width: 450px;
  margin-top: 10px;
  margin-left: 80px;
  position: relative;
}

.delete-button{
  width: 40px;
  height: 40px;
  background: none;
  border: none;
}

p{ 
  margin-left: 50px;
}

.task-row p::before{
  content: '';
  position: absolute;
  height: 28px;
  width:  28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  left: 8px;

}

.task-row p.checked{
  color: black;
  text-decoration: line-through;
}

p.checked::before{
  background-image: url(images/checked.png);
}

.task-row{
  display: flex;
  border-bottom: 3px solid gray;
  margin-top: 5px;
}