*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #deeeff;
}

.container{
  border: solid #333 1px; 
  margin: 200px auto;
  width: 550px;
  border-radius: 25px;
  padding: 20px;
  background-color: #deeeff;
  color: black;
}

.tabs{
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
  margin-bottom: 20px;
  position: relative;
}

#first-tab,
#second-tab,
#third-tab,
#fourth-tab{
  border-bottom: solid 2px;
  cursor: grab;
}

.tab-content{
  padding: 50px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 15px;
}

.tabs .tab-items.active{
 color: rgb(241, 5, 5);
}

.content-container .content{
 display: none;
}

.line{
  position: absolute;
  top: 18px;
  left: -4%;
  width: 90px;
  height: 5px;
  background-color: #7360ff;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}